.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1.5px solid rgb(141, 141, 141);
  border-radius: 25px;
  width: 100%;
  height: auto;
  margin: 20px 10px;
  padding: clamp(0.75rem, 2vw, 1.5rem);
  box-sizing: border-box; 
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), z-index 0.3s;
  will-change: transform;
  max-width: 400px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add a container for the image to ensure consistent positioning */
.card > div:first-child {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.card-text-block {
  padding-top: 20px;
  text-align: center;
}

.card-text-block h2 {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  margin: 0px;
}

.card-text-block p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.card h2,
.card p {
  color: white !important;
  text-decoration: none !important;
}
.card a {
  text-decoration: none !important;
}


.card:hover {
  transform: scale(1.05);
  z-index: 1;
  transition: transform 0.3s ease;
  border: 1.5px solid rgb(255, 255, 255);
}

/* @media (max-width: 768px) {
  .card {
    width: 75%;
  }  
} */