html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;

  color: white;
  overflow-x: hidden;
}
* {
  font-family: Geist;
}
#root {
  /* I DO NOT KNOW WHY THIS WORKS IT JUST DOES DONT CHANGE IT */
  /* This makes it smooth scroll to the top */
  scroll-margin-top: 1000px;
}
