
.title {
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    padding: 0;
    font-size: 40px;
}

.section-title{
    text-align: start;
    font-size: 30px;
    padding-left: 40px;
    /* border: 2px solid gold; */
}


.carousel {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .carousel:hover .carousel-track {
    animation-play-state: paused;
  }


  


