.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 110px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 40px 0px;
  max-width: 100vw;
  margin: 30px 0px;
  /* overflow-x: clip;
  border: 2px solid gold; */
}

.reverse {
  flex-direction: row-reverse;
}


.image-block {
  width: 100%;
  border-radius: 1rem;
  max-width: 600px;
  height: auto;
  position: relative;
  margin: 15px 15px;
  z-index: 1;
}

.image-block img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;

}

.player-image {
  position: absolute;
  bottom: -120px;
  left: -120px;
  max-width: 250px; /* adjust as needed */
  height: auto;
}

.player-image-reverse {
  position: absolute;
  bottom: -120px;
  right: -160px;
  max-width: 250px; /* adjust as needed */
  height: auto;
}

.square {
  width: 300px;
  height: 300px;
  bottom: -30px;
  left: -30px;
  position: absolute;
  background-color: blue;
  z-index: -1;
}

.square-reverse {
  width: 300px;
  height: 300px;
  top: -30px;
  right: -30px;
  position: absolute;
  background-color: yellow;
  z-index: -1;
}

.text-block {
  max-width: 500px;
  margin-top: 5rem;
}

.text-block h2 {
  margin-bottom: 10px;
  font-size: 55px;
  margin-top: 0;
}

.text-block p {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 2em;
  opacity: 0.7;
}

@media (max-width: 1207px) {
  .section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 28px 0px;
    max-width: 100vw;
    /* margin: 30px 0px; */
    /* overflow-x: clip;
    border: 2px solid gold; */
  }
  
  .reverse {
    flex-direction: row-reverse;
  }

  .image-block {
    width: 100%;
    max-width: 450px;
    height: auto;
    position: relative;
    margin: 15px 15px;
  }
  
  .image-block img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .player-image {
    position: absolute;
    bottom: -100px;
    left: -100px;
    max-width: 200px; /* adjust as needed */
    height: auto;
  }
  
  .player-image-reverse {
    position: absolute;
    bottom: -120px;
    right: -128px;
    max-width: 200px; /* adjust as needed */
    height: auto;
  }
  
  .square {
    width: 220px;
    height: 220px;
    bottom: -25px;
    left: -25px;
  }

  .square-reverse {
    width: 220px;
    height: 220px;
    top: -25px;
    right: -25px;
  }

  .text-block {
    max-width: 400px;
    margin: 20px 0px;
  }
  
  .text-block h2 {
    margin-bottom: 10px;
    font-size: 48px;
    margin-top: 0;
  }
  
  .text-block p {
    font-size: 22px;
    margin-bottom: 2em;
  }
}

@media (max-width: 1000px) {
  .section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 28px 0px;
    max-width: 100vw;
    /* margin: 30px 0px; */
    /* overflow-x: clip;
    border: 2px solid gold; */
  }
  
  .reverse {
    flex-direction: row-reverse;
  }

  .image-block {
    width: 100%;
    max-width: 375px;
    height: auto;
    position: relative;
    margin: 15px 15px;
  }
  
  .image-block img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .player-image {
    position: absolute;
    bottom: -65px;
    left: -65px;
    max-width: 120px; /* adjust as needed */
    height: auto;
  }
  
  .player-image-reverse {
    position: absolute;
    bottom: -76px;
    right: -78px;
    max-width: 120px; /* adjust as needed */
    height: auto;
  }

  .square {
    width: 180px;
    height: 180px;
    bottom: -20px;
    left: -20px;
  }

  .square-reverse {
    width: 180px;
    height: 180px;
    top: -20px;
    right: -20px;
  }
  
  .text-block {
    max-width: 400px;
    margin: 20px 0px;
  }
  
  .text-block h2 {
    margin-bottom: 10px;
    font-size: 42px;
    margin-top: 0;
  }
  
  .text-block p {
    font-size: 20px;
    margin-bottom: 1.5em;
  }
}


@media (max-width: 870px) {
  .section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 24px 0px;
    gap: 30px;
  }
  .reverse {
    flex-direction: row-reverse;
  }

  .image-block {
    max-width: 325px;
  }

  .text-block {
    max-width: 300px;
    justify-content: center;
    padding-left: 3px;
  }

  .text-block h2 {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .text-block p {
    font-size: 16px;
    margin-bottom: 1em;
  }
  .player-image {
    max-width: 100px;
    bottom: -40px;
    left: -40px;
  }
  .player-image-reverse {
    max-width: 100px;
    bottom: -60px;
    right: -68px;
  }
  .square {
    width: 180px;
    height: 180px;
    bottom: -18px;
    left: -18px;
  }

  .square-reverse {
    width: 180px;
    height: 180px;
    top: -18px;
    right: -18px;
  }
}

@media (max-width: 760px) {
  .section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 15px 0px;
    gap: 28px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .image-block {
    max-width: 300px;
  }

  .text-block {
    max-width: 280px;
    justify-content: center;
    padding-left: 4px;
  }

  .text-block h2 {
    font-size: 26px;
    margin-bottom: 6px;
  }

  .text-block p {
    font-size: 15px;
    margin-bottom: 1em;
  }
  .player-image {
    max-width: 60px;
    bottom: -25px;
    left: -25px;
  }
  .player-image-reverse {
    max-width: 60px;
    bottom: -37px;
    right: -43px;
  }

  .square {
    width: 160px;
    height: 160px;
    bottom: -15px;
    left: -15px;
  }

  .square-reverse {
    width: 160px;
    height: 160px;
    top: -15px;
    right: -15px;
  }
}

@media (max-width: 670px) {
  .section {
    /* gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 0px;
    border: 2px solid gold; */
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
    padding: 0px 20px;
    gap: 30px;
  }

  .text-block h2 {
    font-size: 16px;
    margin-bottom: 4px;
    /* border: 2px solid gold; */
  }

  .text-block p {
    font-size: 15px;
    margin-bottom: 0.5em;
  }

  .player-image {
    max-width: 55px;
    bottom: -38px;
    left: -35px;
  }
  .player-image-reverse {
    max-width: 55px;
    bottom: -40px;
    right: -38px;
  }
  .square {
    width: 140px;
    height: 140px;
    bottom: -12px;
    left: -12px;
  }

  .square-reverse {
    width: 140px;
    height: 140px;
    top: -12px;
    right: -12px;
  }
}

@media (max-width: 389px) {
  .text-block h2 {
    font-size: 18px;
    margin-bottom: 4px;
    /* border: 2px solid gold; */
  }

  .text-block p {
    font-size: 15px;
    margin-bottom: 0.5em;
  }
  .image-block {
    max-width: 260px;
  }
  .square {
    width: 112px;
    height: 115px;
    bottom: -10px;
    left: -10px;
  }

  .square-reverse {
    width: 115px;
    height: 115px;
    top: -10px;
    right: -10px;
  }
}